<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	Hello Spring
	<a href="/hello">HELLLLLLLLLLLLO</a>
</body>

</html>
<!--
	Spring Boot는 Welcome Page 기능을 지원한다
	루트 경로로 접속시 static 경로에서 최우선적으로 index.html을 찾아서 리턴한다 
	index.html이 없을 시 index라는 이름이 붙은 다른 파일들을 탐색한다	
	Spring (4.x)에서는 web.xml에 
	<welcome-file-list>
	    <welcome-file>index.html</welcome-file>
	    <welcome-file>index.jsp</welcome-file>
	    <welcome-file>index.htm</welcome-file>
	    <welcome-file>default.html</welcome-file>
	    <welcome-file>default.jsp</welcome-file>
	    <welcome-file>default.htm</welcome-file>
  	</welcome-file-list>
  	과 같은 형식으로 작성하거나 이미 작성이 되어있다
	Controller에서 "/" 이라는 URL Mapping을 할 경우 index.html 대신 Controller가 호출되게 된다
 -->